.root {
    -fx-background-color : #EEEEEE;
}
.text-field {
    -fx-background-radius: 15em;
}

#login_btn {
    -fx-background-radius: 25em;
    -fx-text-fill: #ffffff;
    -fx-background-color: #68BEB5;

}

#welcome_label {
    -fx-text-fill: #707070;
}

#login_btn:hover{
    -fx-background-color: #10988A;
}